.title,
.subtitle,
.subheading {
    text-align: center;
    padding-top: 20px;
}
.dashbtn {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 80px;
}

.dashlog {
    padding: 25px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 32px;
    text-decoration: none;
}
#dasham {
    background-color: skyblue;
    color: navy;
}
#dashpm {
    background-color: navy;
    color: skyblue;
}
#dashactivity {
    background-color: violet;
    color: navy;
}
.flareup {
    background-color: red;
    position: fixed;
    bottom: 0px;
    text-align: center;
    height: 60px;
    border-radius: 10px 10px 0 0;
    padding-top: 10px;
}
.flarebtn {
    color: white;
    padding: 20px;
    margin-top: 40px;
    font-weight: 800;
    font-size: 32px;
    text-decoration: none;
}

.loginform,
.regform {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.loginform div,
.regform div {
    padding-top: 40px;
    text-align: center;
}
.form-group input {
    background-color: paleturquoise;
}
.loginbtn,
.registerbtn {
    margin: 40px 0 20px 0;
    background-color: blueviolet;
    border: none;
    border-radius: 10px;
    width: 40%;
    align-self: center;
}
.loginbtn input,
.registerbtn input {
    border: none;
    background-color: transparent;
    color: white;
    font-weight: 700;
    font-size: 28px;

}
.registerbutton {
    text-align: center;
}
.activitybtm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 10px;
}
.priority {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;

}
.priority label {
    font-size: 20px;
    font-weight: 700;
}
