.title,
.subtitle,
.subheading,
.historytitle {
    text-align: center;
    padding-top: 20px;
}
.dashbtn {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 60px;
}

.dashlog {
    padding: 25px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 32px;
    text-decoration: none;
}
#dasham {
    background-color: skyblue;
    color: navy;
}
#dashpm {
    background-color: navy;
    color: skyblue;
}
#dashactivity {
    background-color: violet;
    color: navy;
}
.flarerisk {
    padding-top: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.flareup {
    background-color: red;
    position: fixed;
    bottom: 0px;
    text-align: center;
    height: 60px;
    border-radius: 10px 10px 0 0;
    padding-top: 10px;
}
.flarebtn {
    color: white;
    padding: 20px;
    margin-top: 40px;
    font-weight: 800;
    font-size: 32px;
    text-decoration: none;
}

.loginform,
.regform {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.loginform div,
.regform div {
    padding-top: 40px;
    text-align: center;
}
.form-group input {
    background-color: paleturquoise;
}
.loginbtn,
.registerbtn {
    margin: 40px 0 20px 0;
    background-color: blueviolet;
    border: none;
    border-radius: 10px;
    width: 40%;
    align-self: center;
}
.loginbtn input,
.registerbtn input {
    border: none;
    background-color: transparent;
    color: white;
    font-weight: 700;
    font-size: 28px;

}
.registerbutton {
    text-align: center;
}
.accbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: pink;
    text-decoration: none;
    font-weight: 800px;
    color: black;
    border-radius: 15px;
    width: 25%;
    text-align: center;
}
.paintable th,
.paintable td,
.symptomtable th,
.symptomtable td,
.activitytable th,
.activitytable td  {
    border: 1px solid grey;
    width: 90px;
    text-align: center;
}


.pain-cell {
    color: #000;
}

.level-0, .level-1, .level-2, .level-3 {
    background-color: rgb(60, 190, 60);
}

.level-4, .level-5, .level-6, .level-7 {
    background-color: rgb(255, 255, 98);
}
.level-8, .level-9, .level-10 {
    background-color: rgb(255, 78, 78);
}
.activity-cell {
    color: #000;
}
.level-0 {
    background-color: rgb(153, 153, 153);
}
.level-1, .level-2, .level-3 {
    background-color: rgb(60, 190, 60);
}

.level-4, .level-5, .level-6, .level-7 {
    background-color: rgb(255, 255, 98);
}
.level-8, .level-9, .level-10 {
    background-color: rgb(255, 78, 78);
}

.activitybtm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 10px;
}
.priority {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;

}
.priority label {
    font-size: 20px;
    font-weight: 700;
}
