{% extends "base.html" %}

{% block body %}
<div class="row">
    <h1 class="title">Activity Log</h1>
    <h2 class="subtitle">Record how hard you found today's activities</h2>
    <h4 class="subheading">Rate their difficulty from 1 (Fine) to 10 (Extremely Hard) or 0 if Non-Applicable</h4>
        <form method="POST">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            <h5>{{form.date.label (class="form-label")}} {{form.date(class="form-control")}}</h5>
        </div>
        <div class="row">
            <div class="col">
                <div class="mb-3">
                <h5><label class="form-label">{{ form.shower.label }}</label></h5>
                    {% for subfield in form.shower %}
                        {% set value = subfield._value() %}
                        {{ subfield(class="btn-check") }}
                        {% if value|int == 0 %}
                            <label class="btn btn-outline-secondary" for="{{ subfield.id }}">{{ subfield.label.text }}</label>
                        {% elif value|int <= 3 %}
                            <label class="btn btn-outline-success" for="{{ subfield.id }}">{{ subfield.label.text }}</label>
                        {% elif value|int <= 7 %}
                            <label class="btn btn-outline-warning" for="{{ subfield.id }}">{{ subfield.label.text }}</label>
                        {% else %}
                            <label class="btn btn-outline-danger" for="{{ subfield.id }}">{{ subfield.label.text }}</label>
                        {% endif %}
                    {% endfor %}
                </div>
                
                <div class="mb-3">
                    <h5><label class="form-label">{{ form.cooking.label }}</label></h5>
                    {% for subfield in form.cooking %}
                        {% set value = subfield._value() %}
                        {{ subfield(class="btn-check") }}
                        {% if value|int == 0 %}
                            <label class="btn btn-outline-secondary" for="{{ subfield.id }}">{{ subfield.label.text }}</label>
                        {% elif value|int <= 3 %}
                            <label class="btn btn-outline-success" for="{{ subfield.id }}">{{ subfield.label.text }}</label>
                        {% elif value|int <= 7 %}
                            <label class="btn btn-outline-warning" for="{{ subfield.id }}">{{ subfield.label.text }}</label>
                        {% else %}
                            <label class="btn btn-outline-danger" for="{{ subfield.id }}">{{ subfield.label.text }}</label>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="mb-3">
                    <h5><label class="form-label">{{ form.laundry.label }}</label></h5>
                    {% for subfield in form.laundry %}
                        {% set value = subfield._value() %}
                        {{ subfield(class="btn-check") }}
                        {% if value|int == 0 %}
                            <label class="btn btn-outline-secondary" for="{{ subfield.id }}">{{ subfield.label.text }}</label>
                        {% elif value|int <= 3 %}
                            <label class="btn btn-outline-success" for="{{ subfield.id }}">{{ subfield.label.text }}</label>
                        {% elif value|int <= 7 %}
                            <label class="btn btn-outline-warning" for="{{ subfield.id }}">{{ subfield.label.text }}</label>
                        {% else %}
                            <label class="btn btn-outline-danger" for="{{ subfield.id }}">{{ subfield.label.text }}</label>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="mb-3">
                    <h5><label class="form-label">{{ form.vacuuming.label }}</label></h5>
                    {% for subfield in form.vacuuming %}
                        {% set value = subfield._value() %}
                        {{ subfield(class="btn-check") }}
                        {% if value|int == 0 %}
                            <label class="btn btn-outline-secondary" for="{{ subfield.id }}">{{ subfield.label.text }}</label>
                        {% elif value|int <= 3 %}
                            <label class="btn btn-outline-success" for="{{ subfield.id }}">{{ subfield.label.text }}</label>
                        {% elif value|int <= 7 %}
                            <label class="btn btn-outline-warning" for="{{ subfield.id }}">{{ subfield.label.text }}</label>
                        {% else %}
                            <label class="btn btn-outline-danger" for="{{ subfield.id }}">{{ subfield.label.text }}</label>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="mb-3">
                    <h5><label class="form-label">{{ form.cleaning.label }}</label></h5>
                    {% for subfield in form.cleaning %}
                        {% set value = subfield._value() %}
                        {{ subfield(class="btn-check") }}
                        {% if value|int == 0 %}
                            <label class="btn btn-outline-secondary" for="{{ subfield.id }}">{{ subfield.label.text }}</label>
                        {% elif value|int <= 3 %}
                            <label class="btn btn-outline-success" for="{{ subfield.id }}">{{ subfield.label.text }}</label>
                        {% elif value|int <= 7 %}
                            <label class="btn btn-outline-warning" for="{{ subfield.id }}">{{ subfield.label.text }}</label>
                        {% else %}
                            <label class="btn btn-outline-danger" for="{{ subfield.id }}">{{ subfield.label.text }}</label>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="mb-3">
                    <h5><label class="form-label">{{ form.groceries.label }}</label></h5>
                    {% for subfield in form.groceries %}
                        {% set value = subfield._value() %}
                        {{ subfield(class="btn-check") }}
                        {% if value|int == 0 %}
                            <label class="btn btn-outline-secondary" for="{{ subfield.id }}">{{ subfield.label.text }}</label>
                        {% elif value|int <= 3 %}
                            <label class="btn btn-outline-success" for="{{ subfield.id }}">{{ subfield.label.text }}</label>
                        {% elif value|int <= 7 %}
                            <label class="btn btn-outline-warning" for="{{ subfield.id }}">{{ subfield.label.text }}</label>
                        {% else %}
                            <label class="btn btn-outline-danger" for="{{ subfield.id }}">{{ subfield.label.text }}</label>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <h5><label class="form-label">{{ form.walking.label }}</label></h5>
                    {% for subfield in form.walking %}
                        {% set value = subfield._value() %}
                        {{ subfield(class="btn-check") }}
                        {% if value|int == 0 %}
                            <label class="btn btn-outline-secondary" for="{{ subfield.id }}">{{ subfield.label.text }}</label>
                        {% elif value|int <= 3 %}
                            <label class="btn btn-outline-success" for="{{ subfield.id }}">{{ subfield.label.text }}</label>
                        {% elif value|int <= 7 %}
                            <label class="btn btn-outline-warning" for="{{ subfield.id }}">{{ subfield.label.text }}</label>
                        {% else %}
                            <label class="btn btn-outline-danger" for="{{ subfield.id }}">{{ subfield.label.text }}</label>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="mb-3">
                    <h5><label class="form-label">{{ form.driving.label }}</label></h5>
                    {% for subfield in form.driving %}
                        {% set value = subfield._value() %}
                        {{ subfield(class="btn-check") }}
                        {% if value|int == 0 %}
                            <label class="btn btn-outline-secondary" for="{{ subfield.id }}">{{ subfield.label.text }}</label>
                        {% elif value|int <= 3 %}
                            <label class="btn btn-outline-success" for="{{ subfield.id }}">{{ subfield.label.text }}</label>
                        {% elif value|int <= 7 %}
                            <label class="btn btn-outline-warning" for="{{ subfield.id }}">{{ subfield.label.text }}</label>
                        {% else %}
                            <label class="btn btn-outline-danger" for="{{ subfield.id }}">{{ subfield.label.text }}</label>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="mb-3">
                    <h5><label class="form-label">{{ form.exercise.label }}</label></h5>
                    {% for subfield in form.exercise %}
                        {% set value = subfield._value() %}
                        {{ subfield(class="btn-check") }}
                        {% if value|int == 0 %}
                            <label class="btn btn-outline-secondary" for="{{ subfield.id }}">{{ subfield.label.text }}</label>
                        {% elif value|int <= 3 %}
                            <label class="btn btn-outline-success" for="{{ subfield.id }}">{{ subfield.label.text }}</label>
                        {% elif value|int <= 7 %}
                            <label class="btn btn-outline-warning" for="{{ subfield.id }}">{{ subfield.label.text }}</label>
                        {% else %}
                            <label class="btn btn-outline-danger" for="{{ subfield.id }}">{{ subfield.label.text }}</label>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="mb-3">
                    <h5><label class="form-label">{{ form.studying.label }}</label></h5>
                    {% for subfield in form.studying %}
                        {% set value = subfield._value() %}
                        {{ subfield(class="btn-check") }}
                        {% if value|int == 0 %}
                            <label class="btn btn-outline-secondary" for="{{ subfield.id }}">{{ subfield.label.text }}</label>
                        {% elif value|int <= 3 %}
                            <label class="btn btn-outline-success" for="{{ subfield.id }}">{{ subfield.label.text }}</label>
                        {% elif value|int <= 7 %}
                            <label class="btn btn-outline-warning" for="{{ subfield.id }}">{{ subfield.label.text }}</label>
                        {% else %}
                            <label class="btn btn-outline-danger" for="{{ subfield.id }}">{{ subfield.label.text }}</label>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="mb-3">
                    <h5><label class="form-label">{{ form.resting.label }}</label></h5>
                    <div class="form-check"> 
                        <input class="form-check-input" type="radio" name="rested" id="restedYes" value="true"> 
                        <label class="form-check-label" for="restedYes">Yes</label> 
                    </div> 
                    <div class="form-check"> 
                        <input class="form-check-input" type="radio" name="rested" id="restedNo" value="false"> 
                        <label class="form-check-label" for="restedNo">No</label> 
                    </div>
                </div>
                
                <div class="mb-3">
                    <h5><label class="form-label">{{ form.socialising.label }}</label></h5>
                    {% for subfield in form.socialising %}
                        {% set value = subfield._value() %}
                        {{ subfield(class="btn-check") }}
                        {% if value|int == 0 %}
                            <label class="btn btn-outline-secondary" for="{{ subfield.id }}">{{ subfield.label.text }}</label>
                        {% elif value|int <= 3 %}
                            <label class="btn btn-outline-success" for="{{ subfield.id }}">{{ subfield.label.text }}</label>
                        {% elif value|int <= 7 %}
                            <label class="btn btn-outline-warning" for="{{ subfield.id }}">{{ subfield.label.text }}</label>
                        {% else %}
                            <label class="btn btn-outline-danger" for="{{ subfield.id }}">{{ subfield.label.text }}</label>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col activitybtm">
                <div class="mb-3">
                    <h5><label class="form-label">{{ form.outing.label }}</label></h5>
                    {% for subfield in form.outing %}
                        {% set value = subfield._value() %}
                        {{ subfield(class="btn-check") }}
                        {% if value|int == 0 %}
                            <label class="btn btn-outline-secondary" for="{{ subfield.id }}">{{ subfield.label.text }}</label>
                        {% elif value|int <= 3 %}
                            <label class="btn btn-outline-success" for="{{ subfield.id }}">{{ subfield.label.text }}</label>
                        {% elif value|int <= 7 %}
                            <label class="btn btn-outline-warning" for="{{ subfield.id }}">{{ subfield.label.text }}</label>
                        {% else %}
                            <label class="btn btn-outline-danger" for="{{ subfield.id }}">{{ subfield.label.text }}</label>
                        {% endif %}
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}