<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--Title-->
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Spoonymyalgia</title>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>
<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a href="/" class="nav-link active">Home</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('routes.logging') }}" class="nav-link">Log</a>
                </li>
                <li class="nav-item">
                    <a href="/" class="nav-link">Data</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('routes.login') }}" class="nav-link">Account</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid no-padding-container">
        {% block body %} {% endblock %}
    </div>
</body>
</html>