{% extends "base.html" %}

{% block body %}
<div class="row">
    <div class="col-12">
        <h1 class="title">Your current risk of a flare is:</h1>
    </div>
</div>
<div class = "row flarerisk">
    <div class="col-12">
        <h1> {% if risk_level == "High" %} 
            <span style="color: red;">High</span> 
            {% elif risk_level == "Medium" %} 
            <span style="color: orange;">Medium</span> 
            {% else %} 
            <span style="color: green;">Low</span> 
            {% endif %} 
        </h1>
    </div>
</div>
<div class="row flarequest">
    <div class="col-12 text-center">
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#revealText"> How Can I Reduce This? </button>
        <div class="collapse mt-3 text-center" id="revealText"> 
            <div class="card card-body"> 
                Prioritise Rest
            </div> 
        </div>
    </div>
</div>
<div class="row activityrecs">
    <div class="col accrec" id="accdo">
        <h1>Activities You Can Do</h1>
        <ul>
            {% for item in do %}
                <li>{{ item }}</li>
            {% else %}
                <li>No activities in this category.</li>
            {% endfor %}
        </ul>
    </div>
    <div class="col accrec" id="acccareful">
        <h1>Activities to Be Careful With</h1>
        <ul>
            {% for item in careful %}
                <li>{{ item }}</li>
            {% else %}
                <li>No activities in this category.</li>
            {% endfor %}
        </ul>
    </div>
    <div class="col accrec" id="accavoid">
        <h1>Activities to Avoid</h1>
        <ul>
            {% for item in avoid %}
                <li>{{ item }}</li>
            {% else %}
                <li>No activities in this category.</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}